@font-face {
    font-family: 'panchi-mono';
    src: url("panchi-mono.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0.5vw;
    overflow-x: hidden;
    background-color: white;
    font-family: 'panchi-mono', 'Courier New', Courier, monospace;
}

/*DROPDOWN MENU*/
.nav-menu {
    position: fixed;
    top: 0.5vw;
    left: 0.5vw;
    z-index: 2000;
    display: inline-block;
}

/* Dropdown button */
.menu-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 0.6em 1.125em;
    cursor: pointer;
    font-size: 1.125em;
    font-family: 'panchi-mono', 'Courier New', Courier, monospace;
}

.menu-button a {
    color: #009640;
}

/* Dropdown list hidden */
.dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 150%;
    margin: 0;
    padding: 0.8em 0;
    list-style: none;
    z-index: 1000;
}

.nav-menu:hover .dropdown {
    display: block;
}

/* CHAPTERS */
.dropdown li>a {
    display: block;
    font-size: 1.125em;
    padding: 0.3em 0.9em 0.1em 0.9em;
    text-decoration: none;
    color: black;
}

.dropdown li:hover>a {
    background: #009640;
    color: white;
}

/* SUB-CHAPTERS */
.sub-menu {
    font-size: 1.125em;
    font-family: 'panchi-mono', 'Courier New', Courier, monospace;
    list-style: none;
    padding-left: 1.4em;
}

.sub-menu li {
    padding: 0.1em 0;
}

.sub-menu a {
    font-size: 1.125em;
}

/* IMAGE GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
    padding-top: 2em;
    height: auto;
    overflow-y: auto;
}

/* Each grid cell is a perfect square */
.grid-item {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

/* Image behavior */
.grid-item img {
    max-width: 100%;
    max-height: 100%;
}

/* CHAPTER COLUMN */
p {
    font-size: 1.125em;
    line-height: 1.375em;
    padding-bottom: 1.125em;
    padding-left: 0.7em;
}

.column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    padding: 1em;
    height: 100vh;
    overflow: hidden;
}

/* text citations */
.column2 {
    padding-top: 2em;
    padding-right: 5em;
    overflow-y: scroll;
    scrollbar-width: none;
}

.column2::-webkit-scrollbar {
    display: none;
}

/* image citations */
.column1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, auto);
    gap: 2em;
    padding-top: 2em;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-right: 2em;
}

.column1::-webkit-scrollbar {
    display: none;
}

.grid2-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid2-item img {
    max-width: 100%;
    height: auto;
    display: block;
}