@font-face {
    font-family: 'panchi-mono';
    src: url("panchi-mono.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0.5vw;
    overflow-x: hidden;
    background-color: white;
    font-family: 'panchi-mono', 'Courier New', Courier, monospace;
}

/*DROPDOWN MENU*/
.nav-menu {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.menu-button {
    background-color: white;
    border: none;
    padding: 0.6em 1em;
    cursor: pointer;
    font-size: 1em;
    font-family: 'panchi-mono', 'Courier New', Courier, monospace;
}

/* Dropdown list hidden */
.dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 150%;
    margin: 0;
    padding: 0.8em 0;
    list-style: none;
    z-index: 1000;
}

.nav-menu:hover .dropdown {
    display: block;
}

/* CHAPTERS */
.dropdown li>a {
    display: block;
    padding: 0.3em 0.9em 0.1em 0.9em;
    text-decoration: none;
    color: black;
}

.dropdown li:hover>a {
    background: #009640;
    color: white;
}

/* SUB-CHAPTERS */
.sub-menu {
    font-size: 1em;
    font-family: 'panchi-mono', 'Courier New', Courier, monospace;
    list-style: none;
    padding-left: 1.4em;
}

.sub-menu li {
    padding: 0.1em 0;
}

.sub-menu a {
    font-size: 1em;
}

/* IMAGE GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    padding-top: 2em;
    height: auto;
    overflow-y: auto;
}

/* Each grid cell is a perfect square */
.grid-item {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

/* Image behavior */
.grid-item img {
    max-width: 100%;
    max-height: 100%;
}